@charset "UTF-8";
/*
 (c) 2017 kuriyama hibiya <kuriyama@hibiya.moe>
 licensed under MIT license
 based on 'mario' theme
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  box-sizing: border-box;
}
html {
  position: relative;
  width: 300px;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif;
}
body {
  position: absolute;
  left: 300px;
  margin: 0;
  width: 100%;
}
#chat_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  word-wrap: break-word;
}
.chat_outer_box {
  margin: 0.25rem 0;
  width: calc(100% - 0.5rem);
}
/* Nickname / Badge */
.chat_upper_box {
  display: flex;
}
.chat_nickname_box {
  position: relative;
  min-width: 2rem;
  padding: 0 5rem 0 0.5rem;
  color: #fff !important;
  background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 30%, rgba(255, 165, 0, 0));
  border-left: 0.08rem solid #fa0;
  font-size: 0.875rem;
}
.chat_nickname_box::before {
  display: block;
  content: '';
  width: 100%;
  height: 0.0625rem;
  background: linear-gradient(to right, rgb(255, 165, 0) 20%, rgba(255, 165, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
}
.chat_badge_box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.chat_badge_box > img {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.08rem solid #fff;
  margin: 0 0 0 0.1rem;
}
/* Messages */
.chat_lower_box {
  position: relative;
  border: 0.08rem solid rgba(131, 131, 131, 0.9);
  border-left-color: #fa0;
  background: rgba(31, 31, 31, 0.75);
  color: #FFF;
}
.chat_msg_box {
  padding: 0.375rem 0.375rem 0.375rem 0.875rem;
  max-height: 14rem; /* 텍스트 영역 최대 높이 */
  overflow: hidden;

  font-size: 1rem; /* 본문 텍스트 크기만 수정하려면 여기 */
}
.chat_msg_box.image_only {
  text-align: center;
}

/* Image Sizes */
.cheer_icon, .twitch_emote, .dccon {
  vertical-align: bottom;
}
.cheer_icon {
  height: 1.25rem;
}
.twitch_emote {
  height: 2rem;
}
.dccon {
  height: 6.25rem;
}

/* Special Cases */
@keyframes blinking-text {
  from { color: #000; }
  33% { color: #AD4711; }
  to { color: #FC6C19; }
}
.chat_subscribe_box,
.chat_cheer_box	{ /* TODO: fix outgoing twip donations */
  text-align: right;
  font-weight: bold;
  padding: 0.125rem 0.25rem 0 0.25rem;
  background: #fff;
  text-shadow: none;
  color: #000;
  animation: blinking-text 1s infinite alternate ease;
}
.chat_subscribe_box {
  margin: -0.75rem -0.25rem 0.25rem -0.25rem;
}
.chat_cheer_text {
  color: #FDCD19;
  display: inline-block;
  padding: 0.125rem 0.25rem;
  background-color: rgba(255, 255, 255, 0.25);
}

/* Clip */
.chat_clip_box {
  display: flex;
  flex-direction: column;

  position: relative;
  height: 8rem;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
}
.chat_clip_box.invalid {
  height: 1.5rem;
  text-align: center;
  color: rgba(255, 0, 0, 0.75);
  text-shadow: none;
}
.chat_clip_box > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  max-width: 100%;
  z-index: 0;
}
.chat_clip_title, .chat_clip_by {
  position: relative;
}
.chat_clip_title {
  flex-grow: 1;
  overflow: hidden;
}
.chat_clip_by {
  text-align: right;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}
/* add small credit */
.chat_upper_box[style="display: none;"] + .chat_lower_box > .chat_msg_box::after {
  display: block;
  content: 'WIP pubg theme by hibiyasleep';
  font-size: 0.5rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 -0.5rem -0.5rem -0.5rem;
  padding: 0 0.5rem 0.25rem 0.5rem
}
